node_modules/

dist/
.vivliostyle/

# JetBrains IDEs
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/shelf/
.idea/**/httpRequests/
.idea/**/dataSources/
.idea/**/dataSources.local.xml
.idea/**/inspectionProfiles/

.DS_Store
**/.DS_Store
*.log

.env
.env.*

coverage/
.cache/

*-local
*-local/
**/*-local/**
