{% set regions = file('regions.json') %}
{% set perPage = 5 %}
{% set start = page.repeat.index * perPage %}
{% set end = start + perPage %}
{% set firstRegion = regions[start] %}

<section class="hero">
  <div>
    <b>Regions of Ukraine</b>
    <hr>
    <small>Part {{ page.repeat.index + 1 }} of {{ page.repeat.count }}</small>
  </div>
  <h3>Ukrainian Regions</h3>
  <aside>
    <span>{{ start + 1 }}-{{ end }}</span>
    <p>
      Administrative regions with their regional centers, approximate population,
      and position within the country.
    </p>
  </aside>
</section>

<section class="regions-list">
  {% for region in regions %}
    {% if loop.index0 >= start and loop.index0 < end %}
      <article>
        <span>{{ loop.index }}</span>
        <header>
          <h4>{{ region.name }}</h4>
          <b>{{ region.capital }}</b>
        </header>
        <dl>
          <div>
            <dt>Population</dt>
            <dd>approx. {{ region.populationApprox | round(2) }} million</dd>
          </div>
          <div>
            <dt>Location</dt>
            <dd>{{ region.location }}</dd>
          </div>
        </dl>
      </article>
    {% endif %}
  {% endfor %}
</section>

{{ template('page-number', { offset: -1 }) }}
