:scope {
  bottom: 50%;
  color: var(--black);
  position: absolute;
  display: inline-block;
  width: 5em;
  text-align: center;
  transform: rotate(-90deg);
}

.page-left :scope {
  left: -5em;
  color: var(--blue);
}

.page-right :scope {
  right: -5em;
  color: var(--yellow);
}
