body {
  background: var(--white);
}

.page {
  min-height: 100vh;
  page-break-after: always;
  break-after: page;
  position: relative;
  padding: 5em 6em;
}

.page-left {
  border-left: 5em solid var(--yellow);
}

.page-right {
  border-right: 5em solid var(--blue);
}
