@page book {
  size: A4;
  margin: 24mm 24mm 24mm 24mm;

  @top-left {
    content: string(book-title);
    color: var(--black);
    font-family: var(--font-family);
    font-size: 0.7em;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
    vertical-align: bottom;
    padding-bottom: 1em;
  }

  @top-right {
    content: string(book-author);
    color: var(--black);
    font-family: var(--font-family);
    font-size: 0.7em;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: uppercase;
    vertical-align: bottom;
    padding-bottom: 1em;
  }

  @bottom-center {
    content: counter(page);
    color: var(--black);
    font-family: var(--font-family);
    font-size: 1em;
    padding-top: 1em;
    font-weight: 600;
    vertical-align: top;
  }
}

@page book:first {
  @top-left {
    content: normal;
  }

  @top-right {
    content: normal;
  }
}

@page book:left {
  margin-left: 30mm;

  @top-left {
    content: string(book-title);
  }

  @top-right {
    content: normal;
  }
}

@page book:right {
  margin-right: 30mm;

  @top-left {
    content: normal;
  }

  @top-right {
    content: string(book-author);
  }
}

body {
  display: block;
}

.page {
  padding: 0;
}
