@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("fonts/manrope/manrope-extra-light.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/manrope/manrope-light.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/manrope/manrope-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/manrope/manrope-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/manrope/manrope-semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/manrope/manrope-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/manrope/manrope-extra-bold.ttf") format("truetype");
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.45;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.05;
  letter-spacing: 0;
}

h1 {
  font-size: 72px;
  font-weight: 800;
}

h2 {
  font-size: 42px;
  font-weight: 800;
}

h3 {
  font-size: 28px;
  font-weight: 800;
}

h4 {
  font-size: 20px;
  font-weight: 800;
}

h5 {
  font-size: 16px;
  font-weight: 800;
}

h6 {
  font-size: 12px;
  font-weight: 800;
}

strong, b {
  font-weight: 800;
}

code {
  color: var(--blue);
  font-family: Menlo, Consolas, monospace;
}

p {
  margin: 0.5em 0;
}

hr {
  height: 2px;
  border: 0;
  background: var(--black);
}

table {
  width: 100%;
  color: var(--black);
  border-collapse: collapse;
}

th,
td {
  padding: 0.75em;
  border: 1px solid var(--black);
  text-align: left;
  vertical-align: top;
}

th {
  font-weight: 800;
}
