:scope {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
}

:scope .spread-image {
  position: absolute;
  left: 0;
  top: 18vh;
  height: 55vh;
  width: 45em;
  z-index: 0;
}

:scope .headline {
  position: absolute;
  left: 5em;
  top: 25vh;
  width: 30em;
  z-index: 1;
  color: var(--white);
}

:scope .story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin-top: auto;

  article {
    display: grid;
    gap: 0.8em;
  }

  b {
    color: var(--blue);
  }

  p {
    margin: 0;
  }
}
